<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a9b7acd-0608-4c4f-984e-823986958184" Alias="0003686 Meat Production Computers 300" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/MeatProductionComputers300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-06T01:55:52</CreateDate>
    <NodeName Default="0003686 Meat Production Computers 300" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zn3jxcqi/0003686_meat-production-computers_300.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>