<?xml version="1.0" encoding="utf-8"?>
<Media Key="f67f2b77-40d9-4f62-bd4d-1f8cba31c1c0" Alias="0003695 X7000 Range Stainless Waterproof 300" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/X7000RangeStainlessWaterproof300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-05T05:52:53</CreateDate>
    <NodeName Default="0003695 X7000 Range Stainless Waterproof 300" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oevh53wz/0003695_x7000-range-stainless-waterproof_300.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>