<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7d7383d-21fd-47d6-be29-207b34b4c9cc" Alias="0003658 X9000 Range Stainless Waterproof Protected Connectors 300" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/X9000RangeStainlessWaterproofProtectedConnectors300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-05T05:54:42</CreateDate>
    <NodeName Default="0003658 X9000 Range Stainless Waterproof Protected Connectors 300" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hm2npv53/0003658_x9000-range-stainless-waterproof-protected-connectors_300.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>