<?xml version="1.0" encoding="utf-8"?>
<Media Key="368a3af2-7722-4d9b-850d-3cd36ad8e4cb" Alias="0005009 X7500 Industrial Panel Pc Range Stainless Steel Waterproof 300 (1) (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/X7500IndustrialPanelPcRangeStainlessSteelWaterproof30011</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-05T05:58:11</CreateDate>
    <NodeName Default="0005009 X7500 Industrial Panel Pc Range Stainless Steel Waterproof 300 (1) (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4q3iunrc/0005009_x7500-industrial-panel-pc-range-stainless-steel-waterproof_300-1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>