<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a1c1f79-0910-43ab-ab40-c236f626d35f" Alias="10" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:33</CreateDate>
    <NodeName Default="10" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p2pbzgqq/10.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>