<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf8d7f59-71a9-4a5b-a6b2-8d45b87ce43d" Alias="15.6" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:37</CreateDate>
    <NodeName Default="15.6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/l35j1p3j/156.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>