<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf7c0341-8981-4ed9-98f7-febadb1be3e3" Alias="15" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:38</CreateDate>
    <NodeName Default="15" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/i2bhzp2b/15.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>