<?xml version="1.0" encoding="utf-8"?>
<Media Key="0208c90c-7ce9-4a9d-979e-f885091ca0f4" Alias="16.9" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:40</CreateDate>
    <NodeName Default="16.9" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/blebqaxj/169.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>