<?xml version="1.0" encoding="utf-8"?>
<Media Key="2581a388-fc71-42d1-81b2-e7ceefd0eae7" Alias="17" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:41</CreateDate>
    <NodeName Default="17" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/r0rjcjlr/17.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>