<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb5abbc7-7a54-4aaa-8ad7-42de839d5eb4" Alias="32" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:46</CreateDate>
    <NodeName Default="32" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yg3fvs0u/32.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>