<?xml version="1.0" encoding="utf-8"?>
<Media Key="194d8b25-4dfa-4933-b8b7-501196fc4b2f" Alias="4.3" Level="2">
  <Info>
    <Parent Key="45a1ba3e-7f38-439c-b9f4-3738854125ee">Screen Size</Parent>
    <Path>/ScreenSize/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T05:56:31</CreateDate>
    <NodeName Default="4.3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/eoff0gp0/43.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>