<?xml version="1.0" encoding="utf-8"?>
<Media Key="136c91ff-2d57-4f5f-b837-7613a07d8aa8" Alias="Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-09T03:37:18</CreateDate>
    <NodeName Default="Banner" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5gihye0x/banner.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>