<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c637846-8bb1-43c9-a808-f60c184f5168" Alias="News 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-09T03:14:55</CreateDate>
    <NodeName Default="News 1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ib2gglfr/news_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>