<?xml version="1.0" encoding="utf-8"?>
<Media Key="edc2c90d-39dc-4dcf-aebf-dd3e2396ab96" Alias="News 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-09T03:17:36</CreateDate>
    <NodeName Default="News 3" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bpenf1o2/news_3.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>