<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d146279-9edb-4939-a66c-dfa4dcbde71a" Alias="News 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-09T03:16:28</CreateDate>
    <NodeName Default="News 2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p3rbito1/news_2.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>