<?xml version="1.0" encoding="utf-8"?>
<Media Key="b56f6fd0-905f-4a45-b521-3780a64feb25" Alias="Rack Mount PC And Monitors" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/RackMountPCAndMonitors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-06T02:27:53</CreateDate>
    <NodeName Default="Rack Mount PC And Monitors" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0zxh5nk5/rack-mount-pc-and-monitors.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>