<?xml version="1.0" encoding="utf-8"?>
<Media Key="45a1ba3e-7f38-439c-b9f4-3738854125ee" Alias="Screen Size" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ScreenSize</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-08T05:56:02</CreateDate>
    <NodeName Default="Screen Size" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>