<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b86556c-b19b-4a62-9904-da66f54bb419" Alias="Slideshow 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slideshow1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-09T03:52:51</CreateDate>
    <NodeName Default="Slideshow 1" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/njkjmw21/slideshow_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>