<?xml version="1.0" encoding="utf-8"?>
<Media Key="00fa2d10-9ef5-4269-98f1-c406628bb34c" Alias="Slideshow 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slideshow2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-09T03:52:15</CreateDate>
    <NodeName Default="Slideshow 2" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cywpuahv/slideshow_2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>