<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8d68cec-4c81-4523-817f-e37d0835a1d6" Alias="STX Technology X9000 Standard Stainless Steel Touch Computer Washdown PT" Level="3">
  <Info>
    <Parent Key="83cb7db9-c5b3-422b-befe-f67f0411855e">xrh7000-m</Parent>
    <Path>/Products/xrh7000M/STXTechnologyX9000StandardStainlessSteelTouchComputerWashdownPT</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-17T03:30:53</CreateDate>
    <NodeName Default="STX Technology X9000 Standard Stainless Steel Touch Computer Washdown PT" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3kgnnkeb/stx_technology-x9000-standard-stainless-steel-touch-computer-washdown-pt.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>