<?xml version="1.0" encoding="utf-8"?>
<Media Key="524a0106-9db5-4bed-a2ce-9632002fe314" Alias="STX Technology X9000 Standard Stainless Steel Touch Computer Washdown RT" Level="3">
  <Info>
    <Parent Key="7f436388-0bbf-449d-bb46-021159bf9783">X9000-M</Parent>
    <Path>/Products/X9000M/STXTechnologyX9000StandardStainlessSteelTouchComputerWashdownRT</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-17T03:32:21</CreateDate>
    <NodeName Default="STX Technology X9000 Standard Stainless Steel Touch Computer Washdown RT" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aaafuuvv/stx_technology-x9000-standard-stainless-steel-touch-computer-washdown-rt.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>