<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dd0f1b4-f4bd-4b02-b26a-563636b5a4f4" Alias="STX Technology 2018 XRH7000 002 2 Web" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/STXTechnology2018XRH70000022Web</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-17T02:53:22</CreateDate>
    <NodeName Default="STX Technology 2018 XRH7000 002 2 Web" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wlynaln3/stx-technology-2018-xrh7000-002-2-web.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>