<?xml version="1.0" encoding="utf-8"?>
<Media Key="88f025c4-370b-47b6-b4d8-fc5687463d27" Alias="STX Technology 2018 XRH7000 002 2 Web" Level="3">
  <Info>
    <Parent Key="83cb7db9-c5b3-422b-befe-f67f0411855e">xrh7000-m</Parent>
    <Path>/Products/xrh7000M/STXTechnology2018XRH70000022Web</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-17T02:54:59</CreateDate>
    <NodeName Default="STX Technology 2018 XRH7000 002 2 Web" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/yispbcal/stx-technology-2018-xrh7000-002-2-web.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>