<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d112f92-9f29-4ff9-be01-1f22761fcb8f" Alias="STX Wall Mount 204 Web" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/STXWallMount204Web</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-08T02:14:15</CreateDate>
    <NodeName Default="STX Wall Mount 204 Web" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sqxbchjj/stx_wall_mount_204_web.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>