<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc01147d-aac4-41b8-aa10-255ab4007b62" Alias="STX Technology 2018 XRH7000 002 2 Web (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/STXTechnology2018XRH70000022Web1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-17T02:54:13</CreateDate>
    <NodeName Default="STX Technology 2018 XRH7000 002 2 Web (1)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pmkadtge/stx-technology-2018-xrh7000-002-2-web.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>