<?xml version="1.0" encoding="utf-8"?>
<Media Key="764134de-d726-4dc8-8060-941c69da5a1f" Alias="Vehicle Mount Touch Computers" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/VehicleMountTouchComputers</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-06T02:27:54</CreateDate>
    <NodeName Default="Vehicle Mount Touch Computers" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1a0ec3rg/vehicle-mount-touch-computers.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>