<?xml version="1.0" encoding="utf-8"?>
<Media Key="c29d3370-be3b-4d18-bf25-69f71b267911" Alias="Waterproof Touch Computer" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/WaterproofTouchComputer</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-07-06T02:27:54</CreateDate>
    <NodeName Default="Waterproof Touch Computer" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oyzj1qr1/waterproof-touch-computer.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>