<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f436388-0bbf-449d-bb46-021159bf9783" Alias="X9000-M" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/X9000M</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-07-17T03:32:06</CreateDate>
    <NodeName Default="X9000-M" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>