<?xml version="1.0" encoding="utf-8"?>
<Macro Key="4ba7d2c4-a68e-407d-b76f-39d392e9b208" Alias="GetBlogpostsByCategory" Level="0">
  <Name>Get Blogposts By Category</Name>
  <MacroSource>~/Views/MacroPartials/GetBlogpostsbyCategory.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Number Of Posts</Name>
      <Alias>numberOfPosts</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
    <Property>
      <Name>Select blog</Name>
      <Alias>selectBlog</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>