<?xml version="1.0" encoding="utf-8"?>
<Macro Key="164c1846-f7d9-4aac-ae09-4e545577259c" Alias="SearchProducts" Level="0">
  <Name>SearchProducts</Name>
  <MacroSource>~/Views/MacroPartials/SearchProducts.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Number Of Products</Name>
      <Alias>numberOfProducts</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
    <Property>
      <Name>startnodeid</Name>
      <Alias>startnodeid</Alias>
      <SortOrder>1</SortOrder>
      <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    </Property>
  </Properties>
</Macro>