<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce5acb92-be23-45fa-83c2-4275c6951ef1" Alias="12" Level="3">
  <Info>
    <Parent Key="ec2d5dc4-9cea-4673-a197-2ca8b9805ee3">Screen Size List</Parent>
    <Path>/Home/ScreenSizeList/</Path>
    <Trashed>false</Trashed>
    <ContentType>screenSize</ContentType>
    <CreateDate>2022-07-08T06:00:10</CreateDate>
    <NodeName Default="12" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aspectRatio>
      <Value><![CDATA[["4:3"]]]></Value>
    </aspectRatio>
    <displayInfo>
      <Value><![CDATA[<table border="1" cellpadding="5px" bordercolor="#D3D3D3">
<tbody>
<tr style="text-align: justify;">
<td style="padding: 4px; vertical-align: top; text-align: left; width: 250px;"><strong>Display</strong></td>
<td style="padding: 4px; vertical-align: top; text-align: left;"> </td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">LCD Size</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">12.1 inch XGA, 4:3</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Colours</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">16.7 million</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Resolution</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">1024 x 768</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Other Supported Resolutions</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">640 x 480 800 x 600</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Contrast Ratio</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">700:1</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Viewing Angle</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Horizontal: ±80° , Vertical: 80°</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Response Time</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">14.5 msec</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Brightness (Typical)</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">400 nits (optional 600 nits or 1000 nits)</td>
</tr>
</tbody>
</table>]]></Value>
    </displayInfo>
    <screenResolution>
      <Value><![CDATA[1024X768]]></Value>
    </screenResolution>
    <screenSizeInch>
      <Value><![CDATA[12]]></Value>
    </screenSizeInch>
    <screenSizeNumber>
      <Value><![CDATA[12]]></Value>
    </screenSizeNumber>
  </Properties>
</Content>