<?xml version="1.0" encoding="utf-8"?>
<Content Key="0eb6e9ea-68b7-4230-be95-0a0413456589" Alias="17" Level="3">
  <Info>
    <Parent Key="ec2d5dc4-9cea-4673-a197-2ca8b9805ee3">Screen Size List</Parent>
    <Path>/Home/ScreenSizeList/</Path>
    <Trashed>false</Trashed>
    <ContentType>screenSize</ContentType>
    <CreateDate>2022-07-08T06:01:19</CreateDate>
    <NodeName Default="17" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aspectRatio>
      <Value><![CDATA[["4:3"]]]></Value>
    </aspectRatio>
    <displayInfo>
      <Value><![CDATA[<table border="1" cellpadding="5px" bordercolor="#D3D3D3">
<tbody>
<tr style="text-align: justify;">
<td style="padding: 4px; vertical-align: top; text-align: left; width: 250px;"><strong>Display</strong></td>
<td style="padding: 4px; vertical-align: top; text-align: left;"> </td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">LCD Size</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">17 inch SXGA+, 5:4</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Colours</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">16.7 million</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Resolution</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">1280 x 1080</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Other Supported Resolutions</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">800 x 600, 1024 x 768</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Contrast Ratio</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">800:1</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Viewing Angle</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Horizontal: ±80° , Vertical: 85°</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Response Time</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">14.5 msec</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Brightness (Typical)</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">350 nits (optional 600 or 1000 nits)</td>
</tr>
</tbody>
</table>]]></Value>
    </displayInfo>
    <screenResolution>
      <Value><![CDATA[1280X1024]]></Value>
    </screenResolution>
    <screenSizeInch>
      <Value><![CDATA[17]]></Value>
    </screenSizeInch>
    <screenSizeNumber>
      <Value><![CDATA[17]]></Value>
    </screenSizeNumber>
  </Properties>
</Content>