<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac6f5b66-9251-41ce-ae4c-3c8273c0617d" Alias="18.5" Level="3">
  <Info>
    <Parent Key="ec2d5dc4-9cea-4673-a197-2ca8b9805ee3">Screen Size List</Parent>
    <Path>/Home/ScreenSizeList/</Path>
    <Trashed>false</Trashed>
    <ContentType>screenSize</ContentType>
    <CreateDate>2022-07-08T06:00:27</CreateDate>
    <NodeName Default="18.5" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aspectRatio>
      <Value><![CDATA[["16:9"]]]></Value>
    </aspectRatio>
    <displayInfo>
      <Value><![CDATA[<table border="1" cellpadding="5px" bordercolor="#D3D3D3">
<tbody>
<tr style="text-align: justify;">
<td style="padding: 4px; vertical-align: top; text-align: left; width: 250px;"><strong>Display</strong></td>
<td style="padding: 4px; vertical-align: top; text-align: left;"> </td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">LCD Size</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">18.5 inch, 16:9</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Colours</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">16.7 million</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Resolution</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">1920 x 1080 Full HD</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Other Supported Resolutions</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">1024 x 768, 1280 x 1024, 1366 x 768, 1440 x 900, 1680 x 1050</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Contrast Ratio</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">1000:1</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Viewing Angle</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Horizontal: ±89° , Vertical: 89°</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Response Time</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">14.5 msec</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Brightness (Typical)</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">450 nits (optional 600 or 1000 nits)</td>
</tr>
</tbody>
</table>]]></Value>
    </displayInfo>
    <screenResolution>
      <Value><![CDATA[1920X1080]]></Value>
    </screenResolution>
    <screenSizeInch>
      <Value><![CDATA[18.5]]></Value>
    </screenSizeInch>
    <screenSizeNumber>
      <Value><![CDATA[18]]></Value>
    </screenSizeNumber>
  </Properties>
</Content>