<?xml version="1.0" encoding="utf-8"?>
<Content Key="948c4ecd-b71f-44a6-b18e-fcf33e91d892" Alias="8" Level="3">
  <Info>
    <Parent Key="ec2d5dc4-9cea-4673-a197-2ca8b9805ee3">Screen Size List</Parent>
    <Path>/Home/ScreenSizeList/</Path>
    <Trashed>false</Trashed>
    <ContentType>screenSize</ContentType>
    <CreateDate>2022-07-08T05:58:45</CreateDate>
    <NodeName Default="8" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aspectRatio>
      <Value><![CDATA[["4:3"]]]></Value>
    </aspectRatio>
    <displayInfo>
      <Value><![CDATA[<table border="1" cellpadding="5px" bordercolor="#D3D3D3">
<tbody>
<tr style="text-align: justify;">
<td style="padding: 4px; vertical-align: top; text-align: left; width: 250px;"><strong>Display</strong></td>
<td style="padding: 4px; vertical-align: top; text-align: left;"> </td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">LCD Size</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">8.4 inch, 4:3</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Colours</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">16.2 million</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Resolution</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">800 x 600</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Other Supported Resolutions</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">640 x 480</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Contrast Ratio</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">600:1</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Viewing Angle</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Horizontal: ±80° , Vertical: 80°</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Response Time</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">14.5 msec</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Brightness (Typical)</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">400 nits</td>
</tr>
</tbody>
</table>]]></Value>
    </displayInfo>
    <screenResolution>
      <Value><![CDATA[800x600]]></Value>
    </screenResolution>
    <screenSizeInch>
      <Value><![CDATA[8]]></Value>
    </screenSizeInch>
    <screenSizeNumber>
      <Value><![CDATA[8]]></Value>
    </screenSizeNumber>
  </Properties>
</Content>