<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e22659c-7698-46c3-9843-801adaa446c0" Alias="By Industry" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/ByIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:06:15</CreateDate>
    <NodeName Default="By Industry" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Industrial]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[By Industry]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>