<?xml version="1.0" encoding="utf-8"?>
<Content Key="df9ff1a1-ea86-45f2-8516-5955691cbc82" Alias="C4" Level="3">
  <Info>
    <Parent Key="055d47c3-2244-4177-9140-5376a147be6b">CPU List</Parent>
    <Path>/Home/CPUList/C4</Path>
    <Trashed>false</Trashed>
    <ContentType>cPUDetail</ContentType>
    <CreateDate>2022-07-14T04:47:40</CreateDate>
    <NodeName Default="C4" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cPUDescription>
      <Value><![CDATA[Intel® Celeron® 4205U]]></Value>
    </cPUDescription>
    <cPUName>
      <Value><![CDATA[C4]]></Value>
    </cPUName>
  </Properties>
</Content>