<?xml version="1.0" encoding="utf-8"?>
<Content Key="18d90810-a613-4474-b422-1fe8ba01ea34" Alias="C5" Level="3">
  <Info>
    <Parent Key="055d47c3-2244-4177-9140-5376a147be6b">CPU List</Parent>
    <Path>/Home/CPUList/C5</Path>
    <Trashed>false</Trashed>
    <ContentType>cPUDetail</ContentType>
    <CreateDate>2022-07-14T04:48:21</CreateDate>
    <NodeName Default="C5" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cPUDescription>
      <Value><![CDATA[Intel® Core™ i5-8265U]]></Value>
    </cPUDescription>
    <cPUName>
      <Value><![CDATA[C5]]></Value>
    </cPUName>
  </Properties>
</Content>