<?xml version="1.0" encoding="utf-8"?>
<Content Key="108ab0b8-ce2d-4cca-a156-4dec130c5b82" Alias="C7" Level="3">
  <Info>
    <Parent Key="055d47c3-2244-4177-9140-5376a147be6b">CPU List</Parent>
    <Path>/Home/CPUList/C7</Path>
    <Trashed>false</Trashed>
    <ContentType>cPUDetail</ContentType>
    <CreateDate>2022-07-14T04:48:41</CreateDate>
    <NodeName Default="C7" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cPUDescription>
      <Value><![CDATA[Intel® Core™ i7 -8565U]]></Value>
    </cPUDescription>
    <cPUName>
      <Value><![CDATA[C7]]></Value>
    </cPUName>
  </Properties>
</Content>