<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3fbdf61-8d20-496b-8e6e-149a4265ce53" Alias="Computers in Agriculture" Level="3">
  <Info>
    <Parent Key="5e22659c-7698-46c3-9843-801adaa446c0">By Industry</Parent>
    <Path>/Home/ByIndustry/ComputersInAgriculture</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:09:26</CreateDate>
    <NodeName Default="Computers in Agriculture" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Agriculture]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Computers in Agriculture]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>