<?xml version="1.0" encoding="utf-8"?>
<Content Key="055d47c3-2244-4177-9140-5376a147be6b" Alias="CPU List" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/CPUList</Path>
    <Trashed>false</Trashed>
    <ContentType>cPUList</ContentType>
    <CreateDate>2022-07-14T04:44:29</CreateDate>
    <NodeName Default="CPU List" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>