<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1351f11-489f-44f7-8ed0-031b49ae1773" Alias="Display Brightness:" Level="3">
  <Info>
    <Parent Key="930dab57-9279-48ca-8455-4a2729082732">More Option List</Parent>
    <Path>/Home/MoreOptionList/DisplayBrightness</Path>
    <Trashed>false</Trashed>
    <ContentType>moreOptionItem</ContentType>
    <CreateDate>2022-07-15T02:57:24</CreateDate>
    <NodeName Default="Display Brightness:" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionDescription>
      <Value><![CDATA[<ul>
<li>High Brightnes 700nits</li>
<li>High Brightnes 1000nits</li>
</ul>]]></Value>
    </optionDescription>
    <optionTitle>
      <Value><![CDATA[Display Brightness]]></Value>
    </optionTitle>
  </Properties>
</Content>