<?xml version="1.0" encoding="utf-8"?>
<Content Key="73a143f4-f86f-42f9-a17d-2f0c105a6477" Alias="Finish" Level="3">
  <Info>
    <Parent Key="930dab57-9279-48ca-8455-4a2729082732">More Option List</Parent>
    <Path>/Home/MoreOptionList/Finish</Path>
    <Trashed>false</Trashed>
    <ContentType>moreOptionItem</ContentType>
    <CreateDate>2022-07-15T02:59:07</CreateDate>
    <NodeName Default="Finish" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionDescription>
      <Value><![CDATA[<ul>
<li>Stainless Steel Brushed</li>
<li>Stainless Steel Highly Polished</li>
<li>Stainless Steel Electro Polished</li>
<li>Matte Black</li>
</ul>]]></Value>
    </optionDescription>
    <optionTitle>
      <Value><![CDATA[Finish]]></Value>
    </optionTitle>
  </Properties>
</Content>