<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d05bfa8-436a-4760-9f88-387dd2b8b2d7" Alias="Harsh Environment Touch Computers" Level="3">
  <Info>
    <Parent Key="eb50d3ca-163b-4e26-a8b2-61798af82571">By Range</Parent>
    <Path>/Home/ByRange/HarshEnvironmentTouchComputers</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:05:33</CreateDate>
    <NodeName Default="Harsh Environment Touch Computers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[umb://media/f67f2b7740d94f62bd4d1f8cba31c1c0]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Waterproof]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[umb://document/f2b2a1242e644427af406a09e71e1d8d,umb://document/bfa6be9d84a14b64b2e4fb3e88659d3c]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Harsh Environment Touch Computers]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>