<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-06-27T04:58:41</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[serif]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[STX Technology]]></Value>
    </footerAddress>
    <footerBanner>
      <Value><![CDATA[umb://media/136c91ff2d574f5fb8377613a07d8aa8]]></Value>
    </footerBanner>
    <footerCTACaption>
      <Value><![CDATA[STX Technology]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <helplineNumber>
      <Value><![CDATA[+61 (0)3 8579 1350]]></Value>
    </helplineNumber>
    <HeroBackgroundImage>
      <Value><![CDATA[umb://media/c3aa785c7883484a8b350f06c3d34334]]></Value>
    </HeroBackgroundImage>
    <homeContent>
      <Value><![CDATA[<h3>20 Years of innovation</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam recusandae alias error harum maxime adipisci amet laborum. Perspiciatis minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit</p>]]></Value>
    </homeContent>
    <homeGallery>
      <Value><![CDATA[umb://media/5b86556cb19b4a629904da66f54bb419,umb://media/00fa2d109ef5426998f1c406628bb34c,umb://media/b1598c1ce8684d39b66ab8f70826da54,umb://media/8d6b94b691ce4b7fb1e218191fc05bfb,umb://media/8a9b7acd06084c4f984e823986958184]]></Value>
    </homeGallery>
    <homepageCategory>
      <Value><![CDATA[umb://document/6d05bfa8436a47609f88387dd2b8b2d7,umb://document/b1669bcb88094bb1a91580a2039a83fb,umb://document/238d672a748e481aa344e6f30aa3dc09,umb://document/c180989e017c413c9b956ca7db86e07c,umb://document/9ccb5d8bc2e743fe8c51bee344392af9,umb://document/4b9ae07afa58460fb965992cc84c5a77,umb://document/4e4be0821e6d473fa5dcda35d2411dd9]]></Value>
    </homepageCategory>
    <selectFeaturedPosts>
      <Value><![CDATA[umb://document/72346384fc5e4a6ea07d559eec11dcea,umb://document/782c631b11e94e908fc16aeff37b488a,umb://document/bc41a2085c364978a3e27cfcfd581980]]></Value>
    </selectFeaturedPosts>
    <selectTechnologyPosts>
      <Value><![CDATA[umb://document/87d885e43e3e41deb729cd268ddebc6f,umb://document/fab99319d800455583d34ea72e8950bb,umb://document/251e32f1c6c14acb9221e950dde8f105]]></Value>
    </selectTechnologyPosts>
    <SiteLogo>
      <Value><![CDATA[umb://media/992592f786cd41b5b1930ea1068a7a91]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[STX Technology]]></Value>
    </sitename>
  </Properties>
</Content>