<?xml version="1.0" encoding="utf-8"?>
<Content Key="238d672a-748e-481a-a344-e6f30aa3dc09" Alias="Industrial Touch Monitors" Level="3">
  <Info>
    <Parent Key="eb50d3ca-163b-4e26-a8b2-61798af82571">By Range</Parent>
    <Path>/Home/ByRange/IndustrialTouchMonitors</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:07:53</CreateDate>
    <NodeName Default="Industrial Touch Monitors" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[umb://media/238376daccd04801bf9378718269e143]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Touch]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Industrial Touch Monitors]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>