<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b9ae07a-fa58-460f-b965-992cc84c5a77" Alias="Large Format Industrial Computers" Level="3">
  <Info>
    <Parent Key="eb50d3ca-163b-4e26-a8b2-61798af82571">By Range</Parent>
    <Path>/Home/ByRange/LargeFormatIndustrialComputers</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:08:34</CreateDate>
    <NodeName Default="Large Format Industrial Computers" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[umb://media/22d43e7ac0f94589bb37959a4094fbe3]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Industrial]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Large Format Industrial Computers]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>