<?xml version="1.0" encoding="utf-8"?>
<Content Key="99bb15a4-c7aa-4fbf-bf9a-e0dfbc9fb34d" Alias="Manufacturing Computers" Level="3">
  <Info>
    <Parent Key="5e22659c-7698-46c3-9843-801adaa446c0">By Industry</Parent>
    <Path>/Home/ByIndustry/ManufacturingComputers</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:10:24</CreateDate>
    <NodeName Default="Manufacturing Computers" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Manufacturing ]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Manufacturing Computers]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>