<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d1472a2-3892-4d46-b548-5fb0554acb45" Alias="Material" Level="3">
  <Info>
    <Parent Key="930dab57-9279-48ca-8455-4a2729082732">More Option List</Parent>
    <Path>/Home/MoreOptionList/Material</Path>
    <Trashed>false</Trashed>
    <ContentType>moreOptionItem</ContentType>
    <CreateDate>2022-07-15T02:58:19</CreateDate>
    <NodeName Default="Material" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionDescription>
      <Value><![CDATA[<ul>
<li>304 Stainless Steel</li>
<li>316 Stainless Steel</li>
</ul>]]></Value>
    </optionDescription>
    <optionTitle>
      <Value><![CDATA[Material]]></Value>
    </optionTitle>
  </Properties>
</Content>