<?xml version="1.0" encoding="utf-8"?>
<Content Key="930dab57-9279-48ca-8455-4a2729082732" Alias="More Option List" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/MoreOptionList</Path>
    <Trashed>false</Trashed>
    <ContentType>moreOptionList</ContentType>
    <CreateDate>2022-07-15T02:55:55</CreateDate>
    <NodeName Default="More Option List" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>