<?xml version="1.0" encoding="utf-8"?>
<Content Key="a55b919c-666d-459b-acfc-06a8c00e2308" Alias="NT" Level="3">
  <Info>
    <Parent Key="560349b6-078c-479f-953d-cfceb0f8561f">Touch Type List</Parent>
    <Path>/Home/TouchTypeList/NT</Path>
    <Trashed>false</Trashed>
    <ContentType>touchTypeDetail</ContentType>
    <CreateDate>2022-07-16T03:16:32</CreateDate>
    <NodeName Default="NT" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[NT]]></Value>
    </description>
    <fullName>
      <Value><![CDATA[NON TOUCH SCREEN]]></Value>
    </fullName>
  </Properties>
</Content>