<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324" Alias="Products" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2022-06-27T04:58:43</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00791db7-0eab-41f1-a4ea-b16c99a969a6">Products</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <featuredProducts>
      <Value><![CDATA[umb://document/f2b2a1242e644427af406a09e71e1d8d]]></Value>
    </featuredProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Our Selection]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <specifications>
      <Value><![CDATA[<table border="1" cellpadding="5px" bordercolor="#D3D3D3">
<tbody>
<tr style="text-align: justify;">
<td style="padding: 4px; vertical-align: top; text-align: left; width: 250px;"><strong>System</strong></td>
<td style="padding: 4px; vertical-align: top; text-align: left;"> </td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">CPU</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Quad Core / Core i5 / Core i7</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">System Memory</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">4 GB (optional 8GB / 12GB / 20GB)</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Hard Drive</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">120GB SSD (optional 256GB / 512GB / 1TB SSD / 2TB)</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Operating systems</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Windows 10 (optional Windows 8 / Windows 7 / Windows 8.1 / Linux / Android)</td>
</tr>
<tr>
<td style="padding: 4px; vertical-align: top; text-align: left;">Boot Options</td>
<td style="padding: 4px; vertical-align: top; text-align: left;">Network Boot (PXE Boot)</td>
</tr>
</tbody>
</table>]]></Value>
    </specifications>
    <standardFeatures>
      <Value><![CDATA[<h4>Standard Features</h4>
<ul>
<li>304 Brushed Stainless Steel</li>
<li>M10 Side Bolt Mounting with Starnuts</li>
<li>10~30VDC power input</li>
</ul>]]></Value>
    </standardFeatures>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>