<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef37af9f-8471-432b-a076-f170fee651b5" Alias="PT" Level="3">
  <Info>
    <Parent Key="560349b6-078c-479f-953d-cfceb0f8561f">Touch Type List</Parent>
    <Path>/Home/TouchTypeList/PT</Path>
    <Trashed>false</Trashed>
    <ContentType>touchTypeDetail</ContentType>
    <CreateDate>2022-07-16T03:16:18</CreateDate>
    <NodeName Default="PT" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[PT]]></Value>
    </description>
    <fullName>
      <Value><![CDATA[PROJECTIVE CAPACITIVE]]></Value>
    </fullName>
  </Properties>
</Content>