<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebf0a1c9-e573-41e9-9d79-56a65d093bb0" Alias="RT" Level="3">
  <Info>
    <Parent Key="560349b6-078c-479f-953d-cfceb0f8561f">Touch Type List</Parent>
    <Path>/Home/TouchTypeList/RT</Path>
    <Trashed>false</Trashed>
    <ContentType>touchTypeDetail</ContentType>
    <CreateDate>2022-07-16T03:15:50</CreateDate>
    <NodeName Default="RT" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[RT]]></Value>
    </description>
    <fullName>
      <Value><![CDATA[RESISTIVE TOUCH SCREEN]]></Value>
    </fullName>
  </Properties>
</Content>