<?xml version="1.0" encoding="utf-8"?>
<Content Key="87d885e4-3e3e-41de-b729-cd268ddebc6f" Alias="Transportation" Level="3">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Blog</Parent>
    <Path>/Home/Blog/Transportation</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2022-07-09T03:23:50</CreateDate>
    <NodeName Default="Transportation" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[["Technology"]]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.
]]></Value>
    </excerpt>
    <featuredImage>
      <Value><![CDATA[umb://media/2c6378468bb143c9a808f60c184f5168]]></Value>
    </featuredImage>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Transportation]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>