<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ccb5d8b-c2e7-43fe-8c51-bee344392af9" Alias="Vehicle Mount Touch Computers" Level="3">
  <Info>
    <Parent Key="eb50d3ca-163b-4e26-a8b2-61798af82571">By Range</Parent>
    <Path>/Home/ByRange/VehicleMountTouchComputers</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2022-07-05T04:08:15</CreateDate>
    <NodeName Default="Vehicle Mount Touch Computers" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="07795f1c-b1d9-46ac-8c6a-f540330c48b9">Category</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <categoryImage>
      <Value><![CDATA[umb://media/764134ded7264dc88060941c69da5a1f]]></Value>
    </categoryImage>
    <categoryType>
      <Value><![CDATA[Vehical Mount]]></Value>
    </categoryType>
    <catgoryProducts>
      <Value><![CDATA[]]></Value>
    </catgoryProducts>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Vehicle Mount Touch Computers]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>