<?xml version="1.0" encoding="utf-8"?>
<DataType Key="60a25ab0-616f-40f0-bd21-9712f866c4fd" Alias="Home - Blog - Multinode Treepicker" Level="1">
  <Info>
    <Name>Home - Blog - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "blogpost",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>