<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2016431-c71e-45be-9054-c8c995aad211" Alias="Multi Products picker" Level="1">
  <Info>
    <Name>Multi Products picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "",
    "id": null
  },
  "Filter": "products,product",
  "MinNumber": 0,
  "MaxNumber": 100,
  "ShowOpen": true,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>