<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7e62887-180c-4eb1-ae13-2bbac8171d53" Alias="Product - Reusable More Options - Multinode Treepicker" Level="1">
  <Info>
    <Name>Product - Reusable More Options - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/930dab57927948ca84554a2729082732"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>