<?xml version="1.0" encoding="utf-8"?>
<DataType Key="071151a3-2c1f-4c44-b89c-430066722b2a" Alias="Product - Touch Type - Nested Content" Level="1">
  <Info>
    <Name>Product - Touch Type - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "touchType",
      "ncTabAlias": "Touch Type",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>