<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f3f7155-539a-4f64-bfd0-4ec24b56ad82" Alias="Product - More Option - Nested Content" Level="1">
  <Info>
    <Name>Product - More Option - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mOREOPTION",
      "ncTabAlias": "MORE OPTION",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>