<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06326e36-12b1-43f8-be66-c90ae55165eb" Alias="Product - Accessory - Nested Content" Level="1">
  <Info>
    <Name>Product - Accessory - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accessory",
      "ncTabAlias": "Accessory",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>