<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99e7fe4b-5bd6-417f-a801-2d27f1820974" Alias="Touch Type - Screen Resolution Opt - Dropdown" Level="1">
  <Info>
    <Name>Touch Type - Screen Resolution Opt - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "4:3"
    },
    {
      "id": 2,
      "value": "16:9"
    }
  ]
}]]></Config>
</DataType>