<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9abfad4f-7f71-45da-886d-f67c90f67c5d" Alias="Touch Type - Touch Type Opt - Dropdown" Level="1">
  <Info>
    <Name>Touch Type - Touch Type Opt - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "RT"
    },
    {
      "id": 2,
      "value": "PT"
    },
    {
      "id": 3,
      "value": "NT"
    }
  ]
}]]></Config>
</DataType>